.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: var(--color-scheme-background);
}

.burgerButton {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  background-color: var(--color-scheme-background);
  z-index: 9999;
  animation: slideIn 0.3s ease forwards;
}

.closing {
  animation: slideOut 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--opacity-neutral-darkest-50);
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.closeButton {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: black;
}
