.task_form {
  padding: 24px 24px 16px;

  min-width: 335px;
  width: 100%;
  max-height: 688px;

  border-radius: 32px;
  background: var(--color-scheme-foreground);
}

@media screen and (min-width: 767.98px) {
  .task_form {
    max-width: 704px;
  }
}

@media screen and (min-width: 1439.98px) {
  .task_form {
    max-width: 440px;
    flex: 1;
  }
}

.title_wrapper {
  display: flex;

  justify-content: space-between;
}

.advice_form {
  max-height: 100%;

  height: 100%;

  padding: 24px;
  border-radius: 32px;
  background: var(--color-scheme-foreground);

  display: flex;
  flex-direction: column;
}

.about_text {
  margin-bottom: 16px;
}

.modal_content {
  margin-top: 48px;

  width: 100%;
}

.form_content {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 24px;
}

.list {
  overflow-y: auto;
  max-height: 410px;
  display: flex;
  flex-direction: column;

  gap: 16px;
}

.item {
  display: flex;

  gap: 8px;

  font-size: 14px;
  line-height: 160%;
}

.item_content {
  display: flex;
  flex-direction: column;
}
