.container {
  gap: 16px;
  margin-top: 8px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
}

.weekButton {
  padding: 16px;
  border-radius: 32px;
  background-color: var(--color-scheme-foreground);
  border: 0px solid var(--color-scheme-border);
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
  text-align: center;
  width: 97px;
  height: 101px;
}

.weekButton:hover,
.weekButton:focus {
  outline: 4px solid var(--color-scheme-foreground-alt);
  outline-offset: -4px;
}

.weekButton:active {
  background-color: var(--color-scheme-accent);
  outline: 4px solid var(--color-scheme-border);
  outline-offset: -4px;
}

.week {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.current {
  border: 4px;
  background-color: var(--color-scheme-accent);
}

.disabled {
  background-color: var(--color-neutral-lightest);
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

@media screen and (min-width: 1440px) {
  .weekButton {
    font-size: 32px;
  }

  .week {
    font-size: 16px;
  }
}
