.avatar_picker_wrapper {
  margin-bottom: 8px;
  position: relative;

  width: 100%;

  max-height: 100%;

  display: flex;

  align-items: center;
  flex-direction: column;

  gap: 24px;
}

.custom_avatar_input {
  overflow: hidden;
  opacity: 0;

  z-index: 1;

  position: absolute;

  max-width: 179px;
  max-height: 46px;
}

.avatar {
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

.user_info_wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;

  justify-content: space-between;

  gap: 20px;
}

.content_wrapper {
  display: flex;

  flex-direction: column;
}

.user_name {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.01em;
}
