

.actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 295px;
  margin-top: 48px;
    
}

@media screen and (min-width: 768px) {
  .actions {
    
    flex-direction: row;
    margin-top: 32px;
    gap: 16px;
    width: 640px;
  }
    
}

.confirm {
  background: var(--color-scheme-foreground-alt);
border-radius: 100px;
padding: 10px 24px;
width: 268px;
height: 46px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 160%;
color: var(--color-scheme-text);
box-shadow: 0 4px 0 var(--color-scheme-accent);
border: none;
  outline: none;
}
.confirm:hover , .confirm:focus {
  background: var(--color-scheme-foreground);
   box-shadow: 0 4px 0 var(--opacity-neutral-darkest-15);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .confirm {
    font-size: 16px;
  }
    
}



.cancel {
background: var(--opacity-neutral-darkest-5);
border-radius: 100px;
padding: 10px 24px;
width: 268px;
height: 46px;
font-family: var(--font-family);
font-weight: 500;
font-size: 14px;
line-height: 160%;
color: var(--color-scheme-text);
box-shadow: 0 4px 0 var(--opacity-neutral-darkest-15);
border: none;
outline: none;
}
.cancel:hover, .cancel:focus {
 background: var(--color-scheme-background);
  
  box-shadow: 0 4px 0 var(--color-scheme-border);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .cancel {
   font-size: 16px;
  }
    
}