.breadcrumbsContainer {
  width: 100%;
  background-color: var(--color-scheme-background);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-text);
  padding: 26.5px 32px 18.5px 32px;
}
