.breadcrumbsContainer {
  margin-bottom: 17px;

  display: flex;
  align-items: center;

  width: 100%;
  background-color: var(--color-scheme-background);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
  color: var(--color-scheme-text);
}

.breadcrumbsContainer a,
.breadcrumbsContainer span {
  margin-right: 16px;
}

.arrow {
  display: inline-flex;
}
.arrow svg {
  align-self: flex-end;
}
