.list {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;

  align-items: center;
}

.item {
  display: flex;

  align-items: center;

  font-size: 14px;
  line-height: 160%;
}
